@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap");

@font-face {
  font-family: "Rolinko";
  src: url("../public/font/RolinkoTtf.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gold-gradient {
  background: var(
    --Gold-Gradient,
    linear-gradient(84deg, #ffd085 0%, #e9d99d 100%)
  );
}
.home-gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 1, 1, 0.5) 0%,
    rgba(2, 1, 1, 0) 100%
  );
}

.text-goldg {
  background: var(
    --Gold-Gradient,
    linear-gradient(84deg, #ffd085 0%, #e9d99d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gold-text {
  background: var(
    --Gold-Gradient,
    linear-gradient(84deg, #ffd085 0%, #e9d99d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(247, 238, 235, 0) 34.43%,
    rgba(247, 238, 235, 0.8) 100%
  );
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.brand_gradient {
  background: linear-gradient(
    180deg,
    #020101 4.83%,
    #2f2525 79.29%,
    #712815 191.5%
  );
}

.login_gradient {
  background: linear-gradient(180deg, #020101 0%, #2f2525 67%, #712815 167.63%);
}
